<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<variable name="runId" value="${date:format=yyyyMMdd_HHmmss:cache=true}" />

  <targets>
    <target xsi:type="File"
            name="perClassFile" 
            fileName="logs/${var:runId}/${logger:shortName=true}.log"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}"
            concurrentWrites="true"
            keepFileOpen="false"
            deleteOldFileOnStartup="false"
            />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="perClassFile"/>
  </rules>
</nlog>
